@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --sl-font: 'Geist Mono', monospace;
  --sl-font-mono: 'Geist Mono', monospace;
}

:root[data-theme='dark'] {
  --sl-color-bg: #000;
  --sl-color-bg-sidebar: #000;
  --sl-color-bg-nav: #000;
}
